.skills-container {
    background-color:rgb(2, 139, 139) ;
}

.hovertag .hovertext {
    visibility: hidden;
    width: 100px;
    background-color: whitesmoke;
    color:rgb(2, 139, 139);
    text-align: center;
    padding: 5px 0;
    border-radius: 10px;
    position: static;
    z-index: 1;
    width: 100px;
    top: 100%;
    left: 50%;
    margin-left: -50px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.hovertag:hover .hovertext {
    visibility: visible;
  }
